Source: scriptix
Section: interpreters
Priority: optional
Maintainer: Sean Middleditch <elanthis@stargrazer>
Standards-Version: 3.2.1

Package: scriptix
Architecture: any
Depends: ${shlibs:Depends}
Description: Lite-weight scripting interface
 Scriptix is a scripting interface designed solely for
 embedding in applications.
